language: python
dist: bionic
python:
  - "3.7"
  - "3.8"
install:
  # Get newer pip and whell for binary caching support
  - pip install --upgrade pip wheel
  - pip install -U -r requirements-test.txt -r requirements-ci.txt
script:
  - coverage run `which django-admin` test --settings weblate.settings_test
  - python ./setup.py sdist
  - python -m twine check dist/*
  - flake8
after_script:
  - coverage xml
  - codecov
cache: pip
services:
  - rabbitmq
addons:
  apt:
    packages:
    - rabbitmq-server
    - git-svn
    - graphviz
    - libcairo-dev
    - libacl1-dev
    - gir1.2-pango-1.0
    - libgirepository1.0-dev
    - libenchant1c2a
    - g++
    - daemon
    sources:
    - sourceline: ppa:git-core/ppa
