language: python
dist: xenial
python:
  - "3.5"
  - "3.6"
  - "3.7"
install: 
  # Get newer pip and whell for binary caching support
  - pip install --upgrade pip wheel
  - pip install -U -r requirements-test.txt -r requirements-ci.txt
script: 
  - coverage django-admin test --settings weblate.settings_test
  - python ./setup.py sdist
  - python -m twine check dist/*
  - flake8
after_script:
  - coverage xml
  - codecov
cache: pip
