cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
Django>=4.2,<5.1
django-appconf>=1.0.0,<1.1
fedora-messaging==3.4.1
setuptools>=65.5.1
twisted>=22.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
Weblate>=5.0
