name: Test

on:
  push:
  pull_request:
  schedule:
  - cron: 0 4 * * *

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
        - '3.11'
        - '3.12'
    name: Python ${{ matrix.python-version }}

    services:
      redis:
        image: redis:8.2.1-alpine@sha256:987c376c727652f99625c7d205a1cba3cb2c53b92b0b62aade2bd48ee1593232
        ports:
        - 6379:6379
      postgres:
        image: postgres:18.0-alpine@sha256:fadc2b63607986d054ccb7302ca6fedc7bb9b6586d03f2110ae3fbc1ce806693
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
      rabbitmq:
        image: rabbitmq:4.1.4@sha256:b26516002296c03a80d02b5b6587bb35036b1cd8e65eb18b40845d680acdc0ff
        ports:
        - 5672:5672
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
            gir1.2-pango-1.0 \
            gettext \
            git \
            gnupg \
            subversion \
            pkg-config \
            python3-dev \
            libxml2-dev \
            libacl1-dev \
            libxmlsec1-dev \
            libsasl2-dev \
            libldap2-dev \
            libssl-dev \
            libffi-dev \
            liblz4-dev \
            libzstd-dev \
            libxxhash-dev \
            libgirepository-2.0-dev \
            libcairo-dev \
            gir1.2-rsvg-2.0 \
            gir1.2-pango-1.0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
      with:
        enable-cache: true
        cache-dependency-glob: ''
        cache-suffix: ${{ matrix.python-version }}
    - name: Install pip dependencies
      run: uv pip install --system -e ".[test]" psycopg2-binary
    - name: Test
      env:
        CI_DATABASE: postgresql
        CI_DB_PASSWORD: postgres
        CI_DB_HOST: localhost
        CI_AMQP_HOST: localhost
        DJANGO_SETTINGS_MODULE: weblate.settings_test
      run: coverage run "$(which django-admin)" test
    - name: Coverage
      run: coverage xml
    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        flags: unittests
        name: Tests Python ${{ matrix.python-version }}
permissions:
  contents: read
